[submodule "external/acados"]
	path = external/acados
	url = https://github.com/acados/acados.git
[submodule "external/gymnasium"]
	path = external/gymnasium
	url = https://github.com/Farama-Foundation/Gymnasium
