[submodule "external/acados"]
	path = external/acados
	url = https://github.com/acados/acados.git
[submodule "external/gymnasium"]
	path = external/gymnasium
	url = https://github.com/Farama-Foundation/Gymnasium
[submodule "external/stable_baselines3"]
	path = external/stable_baselines3
	url = https://github.com/DLR-RM/stable-baselines3.git
